.main {
  background-image: url("../public/image/bg.png");
  max-width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.main__text {
  position: absolute;
  left: 170px;
  top: 105px;
  width: 40%;
  color: white;
}

.populerMovies {
  width: 942px;
  display: flex;
  margin: 100px auto;
  background: #fafafa;
  border-radius: 10px;
}
.populerMovies__image {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.populerMovies__image img {
  height: 80%;
  border-radius: 10px;
}
.populerMovies__descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 45px 50px;
}

.populerMovies__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.populerMovies__top p:first-child {
  max-width: 15%;
  background: #f5c517;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}
.populerMovies__top p:last-child {
  background: #f5c517;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}
.populerMovies__footer {
  display: flex;
}
.populerMovies__footer button {
  outline: none;
  padding: 10px;
  border: none;
  background: #F5C518;
  border-radius: 8px;
  width: 150px;
  color:white;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}
