.searchContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
    margin-right: 170px;
}

.searchWrapper {
    max-width: 250px;
    margin: 15px 100px 0 0;
}

.searchIcon{
    position: absolute;
    bottom: 13px;
    background-color: white;
    color: #F5C518;
    border-radius: 50%;
    padding: 2px;
    font-size: 24px;
    right: 5px;
  
}
.searchIcon:hover{
cursor: pointer;
}
.searchWrapper img {
    border-radius: 8px;
    width: 300px;
    height: 400px;
    object-fit: unset;
}